@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollItems::-webkit-scrollbar {
  width: 5px;
}

.scrollItems::-webkit-scrollbar-track {
  background: #ececec;
}

.scrollItems::-webkit-scrollbar-thumb {
  background: #20ac73;
  border-radius: 25px;
}

.textGradiant {
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:after {
  display: none;
}

.gcd-gl-control.ol-control.gcd-gl-expanded {
  width: 100% !important;
  background: transparent;
  padding: 1em;
}

input#gcd-input-query {
  width: 100% !important;
  padding: 13px;
  border: 1px solid #eee;
  border-radius: 15px;
  outline: 0;
}

.gcd-gl-control.ol-control {
  width: 100%;
  padding: 0;
  background: transparent;
}

.ol-full-screen.ol-unselectable.ol-control {
  display: none;
}

button#gcd-button-control {
  display: none;
}

ul.gcd-gl-result {
  background: #fff;
  padding: 4em 0em 0;
  li {
    background: #f7f7f7;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 7px;
  }
}

.Toastify__toast {
  font-family: inherit !important;
  direction: rtl;
}

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1;
  text-align: center;
}

.Toastify__close-button {
  align-self: center !important;
}

.no-before {
  &::before {
    display: none !important;
  }
}

.direction-ltr {
  direction: ltr;
}

.direction-rtl {
  direction: rtl;
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Thin.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Thin.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Thin.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-UltraLight.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-UltraLight.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Light.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Light.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Medium.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Medium.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-DemiBold.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-DemiBold.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-ExtraBold.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-ExtraBold.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Black.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Black.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Bold.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Bold.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  font-kerning: none;
  src: url("./assets/IRANSansX/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./assets/IRANSansX/IRANSansXFaNum-Regular.woff2") format("woff2"),
    url("./assets/IRANSansX/IRANSansXFaNum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 100;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-Thin.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 300;
  font-kerning: none;
  src: url("./assets/peyda/peydaWeb-light.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 800;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 900;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-Black.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: bold;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: normal;
  font-kerning: none;
  src: url("./assets/peyda/PeydaWeb-Regular.woff") format("woff");
}

.peyda {
  font-family: Peyda !important;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  font-kerning: none;
}

body {
  font-family: IRANSansX !important;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  font-kerning: none;
}

.iranSans {
  font-family: IRANSansX !important;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  font-kerning: none;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #22ac74;
  strokewidth: 4.0071;
  stroke-miterlimit: 10;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #a7d5be;
}

/***************************************************
 * Generated by SVG Artista on 4/2/2024, 6:13:03 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 884.3916625976562px;
    stroke-dasharray: 884.3916625976562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 884.3916625976562px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 884.3916625976562px;
    stroke-dasharray: 884.3916625976562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 884.3916625976562px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 2s linear 0s both infinite,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
  animation: animate-svg-stroke-1 2s linear 0s both infinite,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 886.0182495117188px;
    stroke-dasharray: 886.0182495117188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 886.0182495117188px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 886.0182495117188px;
    stroke-dasharray: 886.0182495117188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 886.0182495117188px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 2s linear 0.12s both infinite,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
  animation: animate-svg-stroke-2 2s linear 0.12s both infinite,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 4.770408391952515px;
    stroke-dasharray: 4.770408391952515px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 4.770408391952515px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 4.770408391952515px;
    stroke-dasharray: 4.770408391952515px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 4.770408391952515px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(167, 213, 190);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(167, 213, 190);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 2s linear 0.24s both infinite,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
  animation: animate-svg-stroke-3 2s linear 0.24s both infinite,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

.bottomToolbar {
  .MuiBox-root {
    direction: ltr;
  }
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  outline: 0;
  font: inherit;
  color: rgb(32 172 115 / var(--tw-bg-opacity));
  width: 18px;
  height: 18px;
  border: 1px solid #b3b3b3;
  border-radius: 7px !important;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 5px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(32 172 115 / var(--tw-bg-opacity));
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  outline: 0;
  font: inherit;
  color: rgb(32 172 115 / var(--tw-bg-opacity));
  width: 18px;
  height: 18px;
  border: 1px solid #b3b3b3;
  border-radius: 7px !important;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 5px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(32 172 115 / var(--tw-bg-opacity));
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.leaflet-control-geosearch form input {
  padding-right: 13px;
}

@media (max-width: 768px) {
  .to-scroll {
    padding-bottom: 1em;
    white-space: nowrap;
    flex-flow: nowrap;
    overflow: scroll;
    display: flex;
  }
}

.content {
  h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
  }
}

.swiper-slide {
  height: auto !important;
  flex-wrap: wrap !important;
}
img {
  display: inline-block;
}
.pdf {
  table,
  tr,
  td {
    font-size: 10px;
    font-weight: 800;
    padding: 5px 3px;
    border-collapse: collapse;
    border-left: 1px solid;
    border-bottom: 1px solid;
  }

  table {
    border: 0;
    border-right: 1px solid;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-top: 1px solid;
  }

  .itemsTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
  }

  td span {
    margin-left: 15px;
  }

  .stamp {
    position: relative;
    top: -80px;
    left: 0;
    opacity: 0.4;
  }

  .textLeft {
    text-align: left;
    left: 25px;
  }

  .bigValue {
    width: 100px;
  }

  .smallValue {
    width: 30px;
  }

  .borderLess {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .borderLess td {
    border: 0 !important;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  thead {
    background: #e9e9e9;
  }

  .highlight {
    background: #e9e9e9;
  }

  .pdfContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    letter-spacing: normal;
    word-break: keep-all;
  }

  .content {
    width: 180mm;
    margin: 0 auto;
    padding: 2cm 50px 0;
    overflow: hidden;
    text-align: "right";
    table-layout: "fixed";
    letter-spacing: "normal";
    word-break: "keep-all";
  }

  .hiddenForPDF {
    position: absolute;
    left: -10000px;
    bottom: 0;
    overflow: hidden;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .generateFactorButton {
    width: 100%;
    padding: 10px 10px !important;
    margin-bottom: 20px !important;
  }
}
@media print {
  .no-print {
    display: none !important;
  }
}

.ol-overlay-container.ol-selectable {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.SwiperThumbs {
  width: 100%;
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: start;
  }
}

@media (max-width: 767px) {
  .swiper-wrapper {
    flex-wrap: nowrap !important;
  }
}
.dial {
  transition: all 0.3s;
  .swiper-slide {
    img {
      border-radius: 28px;
    }
  }
  .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active {
    transition: all 0.3s;
    img {
      border-radius: 28px;
      filter: grayscale(0) blur(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e9f4f6;
}

.custom-scroll::-webkit-scrollbar-track:hover {
  background-color: #e9f4f6;
}

.custom-scroll::-webkit-scrollbar-track:active {
  background-color: #e9f4f6;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #959595;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background-color: #959595;
}

.MuiSlider-thumb {
  width: 15px !important;
  height: 15px !important;
}

.MuiSlider-rail,
.MuiSlider-track {
  height: 2px !important;
  border: 0 !important;
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
  font-family: "Font Awesome 6 Free" !important;
}

@media (min-width: 1023px) {
  .container.mx-auto {
    padding: 0 16px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 1023px;
    padding: 0 0;
  }
}

.paginate-disabled {
  display: none;
}

.next,
.previous {
  font-size: 14px;
  padding: 9px 11px;
  background: #ededed;
  border-radius: 11px;
}

.contentLong {
  border-top: 1px solid #e2e2e2;
  padding: 1.5em 15px;
  margin-top: 3em;
  h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: peyda;
    margin-bottom: 15px;
  }
  p {
    margin: 0 0 12px;
    text-align: justify !important;
  }
}

.swiper-pagination {
  position: relative !important;
  bottom: -20px !important;
  left: 0 !important;
  text-align: left !important;
  height: 30px;
  transform: unset !important;
}

@media (max-width: 768px) {
  .swiper-pagination {
    left: 15px !important;
  }
}

.swiper-pagination-bullet-active {
  background: #20ac73 !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  border-radius: 4px !important;
}

.ck {
  direction: rtl !important;
}
.MuiDataGrid-root,
.MuiButton-root,
.MuiFormControl-root *,
.base-Popper-root *,
.MuiPaper-root * {
  font-family: IRANSansX !important;
}

.selecteds .swiper-slide {
  width: 160px !important;
  margin-left: 20px;
}

.sliders .swiper-slide {
  width: 260px !important;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .sliders .swiper-slide {
    width: 200px !important;
    margin-left: 20px;
  }
}

.mainSlide {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-wrapper {
  display: flex !important;
}

.mainSlide {
  .container.mx-auto {
    padding: 0 0 !important;
  }
}
